/* ======================== LAYOUT ======================== */
.container-grid {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 450px 1fr;
}

/* ======================== CONTAINER GRID LEFT ======================== */

.container-grid-left {
  width: 100%;
  background-color: var(--main-dark-color);
}

.container-grid-left-bg {
  height: 100%;
  position: relative;
  overflow: hidden;
  padding: var(--g-4xl);
  z-index: 1;
}

/* === logo-container === */

.logo-container-left {
  position: absolute;
  top: var(--g-6xl);
  left: var(--g-6xl);
}

.logo-container-left img {
  width: 45px;
}

/* === txt-container === */

.txt-container-left {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  color: var(--text-light-color);
  font-family: var(--font-f-text);
  text-align: center;
  z-index: 1;
}

.txt-container-left span {
  margin-bottom: var(--g-lg);
  font-size: 4em;
  font-weight: 700;
}

.txt-container-left p {
  color: var(--text-dark-color);
  font-size: var(--fs-xl);
  max-width: 300px;
  line-height: 1.4;
  font-weight: 600;
}

/* === curved-lines === */

.background-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../../assets/images/curved-lines.png");
  background-repeat: no-repeat;
  z-index: -1;
}

/* ======================== CONTAINER GRID RIGHT ======================== */

.container-grid-right {
  width: 100%;
  background-color: var(--secondary-dark-color);
  font-family: var(--font-f-text);
}

.container-grid-right-wrapper {
  max-width: 1024px;
  height: 100%;
  padding: 4rem var(--g-4xl);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: column nowrap;
}

/* === top-container-grid-right === */

.title-container {
  font-family: var(--font-f-title);
  font-weight: 700;
  color: var(--text-light-color);
  font-size: var(--fs-2xl);
  margin-bottom: var(--g-xl);
}

.subtitle-container {
  color: var(--text-dark-color);
  max-width: 800px;
  margin-bottom: var(--g-lg);
  line-height: 1.5;
}

/* === form-container === */

form {
  width: 100%;
  padding: var(--g-4xl) 0;
  border-bottom: 1px solid #474747;
}

/* input-container */

.input-container {
  width: 100%;
  display: grid;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}

.input-container input {
  width: 100%;
  font-family: var(--font-f-text);
  padding: var(--g-md);
  font-weight: 700;
  background: none;
  border: 1px solid #474747;
  color: var(--text-light-color);
  border-radius: 5px;
  margin-bottom: var(--g-lg);
  font-size: var(--fs-md);
}

.input-container input::placeholder {
  color: var(--text-dark-color);
}

.input-container input:focus {
  border: 1px solid var(--CTA-color);
}

/* terms-container */

.terms-container {
  display: flex;
  align-items: center;
  margin-top: var(--g-md);
}

.terms-container input {
  margin-right: var(--g-s);
  appearance: none;
  -webkit-appearance: none;
  min-height: 20px;
  min-width: 20px;
  border: 1px solid #474747;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.terms-container input::after {
  font-family: "Font Awesome 5 Free";
  content: "\f00c";
  font-weight: 900;
  color: white;
  display: none;
}

.terms-container input:hover {
  background-color: #333333;
}

.terms-container input:checked {
  background-color: var(--CTA-color);
  border: none;
}

.terms-container input:checked::after {
  display: initial;
}

.terms-container p {
  font-size: var(--fs-s);
  color: var(--text-dark-color);
  line-height: 1.25;
}

.terms-container p a {
  color: var(--CTA-color);
}

/* button-container */

.button-container button {
  margin-top: var(--g-3xl);
  padding: var(--g-lg) var(--g-3xl);
  color: var(--text-light-color);
  font-family: var(--font-f-text);
  background-color: var(--CTA-color);
  font-size: var(--fs-s);
  font-weight: 600;
  border-radius: 5px;
}

/* === switch-page === */

.switch-page {
  margin-top: var(--g-3xl);
}

.switch-page p {
  font-size: var(--fs-md);
  color: var(--text-dark-color);
}

.switch-page p a {
  color: var(--CTA-color);
}

/* ======================== MEDIA SCREEN ======================== */

@media screen and (max-width: 1024px) {
  .container-grid {
    grid-template-columns: 300px 1fr;
  }

  .txt-container-left span {
    font-size: var(--fs-4xl);
  }

  .txt-container-left p {
    font-size: var(--fs-lg);
  }
}

@media screen and (max-width: 768px) {
  .container-grid {
    grid-template-columns: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    min-height: initial;
  }

  .container-grid-left {
    height: 400px;
  }

  .logo-container-left {
    top: var(--g-3xl);
    left: var(--g-3xl);
  }

  .logo-container-left img {
    width: 40px;
  }

  .background-container {
    background-position-y: -300px;
  }
}

@media screen and (max-width: 500px) {
  .container-grid-left {
    height: 350px;
  }

  .logo-container-left {
    top: var(--g-2xl);
    left: var(--g-2xl);
  }

  .logo-container-left img {
    width: 35px;
  }
}
